@model IEnumerable<HospitalWebApp.Models.Symptom_Disease>

@{
    ViewData["Title"] = "Symptoms Diseases";
}

<h1>Symptoms Diseases</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Disease)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Symptom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Disease.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symptom.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
